@import './globals';

.profile-wrapper{



  .profile{
    background-color: #fffbf2;
    width: 440px;
    height: 500px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 220px);
    box-shadow: 0 16px 24px rgba(0,0,0,0.2), 0 8px 12px rgba(0,0,0,0.4);

    #upside{
      display: flex;
      justify-content: center;
      padding-top: 30px;
      opacity: 0;

      .img-wrapper{
        img{
          width: 150px;
          height: auto;
          top:30px;
          left: -10px;
          position: relative;
        }
      }
      .personal-wrapper{
        display: flex;
        align-items: flex-end;
      }
    }

    #hi-wrapper{
      margin-top: 60px;
      color: lighten(black, 50%);
      align-items: center;
      position: relative;
      margin-left: 45px;
      margin-right: 35px;
      line-height: 1.5rem;
      font-size: 1.25rem;
      span{
        font-size: 2rem;
        color: darken(#89baed, 40%);
      }
    }

    #contact-wrapper{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 20%;
      bottom: 60px;
      opacity: 0;
    }
  }
}


@media screen and (max-width: 767px){
  .profile-wrapper{
    .profile{
      box-shadow: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fffbf2;

      #upside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .personal-wrapper{
          margin-top: 5px;
        }
      }
      #hi-wrapper{
        font-size: 1.3rem;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
        span{
          font-size: 1.3rem;
        }
      }
      #contact-wrapper{
        margin-left: 30%;
        margin-top: 20%;
        flex-direction: column;
        align-items: left;
        width: 80%;
        position: relative;
        left:0;
        bottom: 0;
        opacity: 0;


        .contact-github{
          margin-top: 20px;
        }
        .contact-portfolio{
          margin-top: 20px;
          margin-bottom: 200px;
        }
      }
    }
  }
}
