@import './globals';


a{
  left: 10vw;
  color: inherit;
  font-size: 1.3rem;
  color: #4a4743;
  margin: 10px;

  &:hover{
    color: #7a6661;
  }
}

.dot{
  display: none;
}


@media screen and (max-width: 767px){
  .dot{
    display: inline-block;
  }
}
